{% extends 'blog/base.html' %}

{% block title %} Share a Post {% endblock %}

{% block content    %}
    {% if sent %}
        <h2>Email Successfully Sent....</h2>
        <p>
            {{ post.title }} was Successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h2>Share "{{ post.title }}" by e-mail</h2>
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token%}
            <input type="submit" value = 'send e-mail'>
        </form>
    {% endif %}

{% endblock %}